[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = ">=2.0.0"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-render-swagger-plugin = "*"
mkdocs-awesome-pages-plugin = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
dev-start = "uvicorn app.main:app --reload"
docs = "mkdocs serve --dev-addr=0.0.0.0:8001"